doctype html
html(lang='en')
    head
        title='File Definition Importer | APG Challenge'
        link(href='/favicon.ico', type='image/x-icon' rel='shortcut icon')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale=1)
        link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css' type='text/css' rel='stylesheet')
    body
        header.navbar.navbar-static-top.navbar-inverse
            .container
                .navbar-header
                    a.navbar-brand(href='/') APG Challenge
        main.container
            if errorMessage
                p.alert.alert-danger #{errorMessage}
            if successMessage
                p.alert.alert-success #{successMessage}
            h2.page-header File Definition Importer
            .row
                if typeCounts
                    .col-sm-6
                        h3 Summary
                        table.table
                            tr
                                th Classification Type
                                th Count
                            each type in typeCounts
                                tr
                                    td #{type.name}
                                    td #{type.count}
                .col-sm-6
                    h3 Import
                    form(action='/api/v1/file' method='post' enctype='multipart/form-data')
                        .form-group
                            label.control-label Definitions File
                            input(type='file' name='file' accept='.csv' autofocus required)
                        button.btn.btn-primary(type='submit') Submit