<h1> Malware Data Uploadr</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>MD5</th>
      <th>Classification Name</th>
      <th>Classification Type</th>
      <th>Size</th>
      <th>FileType</th>
    </tr>
  </thead>
  <tbody>
    <% @defects.each do |defect| %>
      <tr>
        <td><%= defect.md5 %></td>
        <td><%= defect.classicationname %></td>
        <td><%= defect.classicationtype %></td>
        <td><%= defect.size %></td>
        <td><%= defect.filetype %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<h3>Upload Info</h3>
<%= form_tag upload_defects_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV" %>
<% end %>
